@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: radial-gradient(#ff99cc , #dae07d );
}
.navbar-form input, .form-inline input {
    width:auto;
  }

  h1,h2,h3,.highlight,.navbar a,#masthead h4 {
    font-family: 'Andada Pro', serif;
  }

  footer {

    margin-top:40px;
    padding-top:40px;
    padding-bottom:40px;
    background-color:#cecece;
   
  }
  #masthead {
    min-height:199px;
    background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color:#aaaacc;
  }
  
  #masthead h1 {
    font-size: 55px;
    line-height: 1;
    color:#f35810;
    margin-top:50px;
  }
  #masthead h3{
    color:#000022;
  }
  
    #masthead .well {
    margin-top:31px;
    background-color:#111166;
    border-color:#000022;
    color:#efefff00;
    min-height:127px;
    opacity: 0;
  }  
  
  #topPanel {
    padding-top:0px;
    padding-left:22px;
    padding-right:22px;
  }
  #topPanel .panel-body {
    padding-top:0px;
  }
  
  .navbar.affix {
    position:fixed;
    top:0;
    width:100%;
  }
  
  .top-spacer {
    background-color:#ffffff;
    height:40px;
  }
  
  a,a:hover {
    color:#223344;
    text-decoration:none;
  }
  
  .icon-bar {
    background-color:#fff;
  }
  
  @media screen and (min-width: 768px) {
    #masthead h1 {
      font-size: 80px;
    }
  }
  
  .navbar-bright {
    background-color:#111166;
    color:#fff;
    margin-bottom: 0;
    border-width: 0;
  }
  
  .navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
    color:#ccccdd;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing:.08em;
  }
  
  .navbar-bright li > a:hover {
    background-color:#000044;
  }
  
  .dropdown-menu {
    min-width: 250px;
  }
  
  .caret {
    color:rgb(97, 245, 60);
  }
  
  .navbar-toggle {
    color:#fff;
    border-width:0;
  }
  
  .navbar-toggle:hover {
    background-color:#fff;
  }
  
.container2{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container2 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid rgb(31, 207, 238);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.strength{
  width: 25%;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 5px;
}
#strength-bar{
  background-color: #fdfdfd;
  height: 10px;
  position: relative;
  border-radius: 0 0 5px 5px;
}
p{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}


 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
